<div class="container text-center">
<%= simple_form_for [current_user, e] do |f| %>
<%= f.error_notification %>
    <div class="form-inputs ">


      <%= f.input :title %>
      <%= f.input :photo %>
      <%= f.hidden_field :user_id, :value => current_user.id %>


    </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-medium btn-wrapper', value: 'Add'  %>
  </div>

<% end %>
</div>
