<%= simple_form_for [current_user, equipment] do |f| %>
<%= f.error_notification %>
    <div class="form-inputs">

      <%= f.input :title, :label => "Title", :placeholder => "Great Rip Curl Surfboard"  %>
      <br>
      <%= f.input :category, prompt: "(Select from the list)", :collection => @categories, :class => "form-input" %>
      <br>
      <%= f.input :price, :label => "Price (€ / day)", :placeholder => "12" %>
      <br>
      <%= f.input :street, :label => false, :label => "Address",:placeholder => "Avenida Casal Ribeiro" %>
      <%= f.input :building_number, :label => false, :placeholder => "28"  %>
      <%= f.input :postal_code, :label => false, :placeholder => "1000-092" %>
      <%= f.input :city, :label => false, :placeholder => "Lisbon" %>
      <%= f.input :country, :as => :string, :label => false, :placeholder => "Portugal" %>

      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.hidden_field :user_id, :value => current_user.id %>


    </div>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary', value: 'Submit'  %>
    </div>


<% end %>
