  <% content_for(:title_tag) do %>
  Search results
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 content-left">
        <% if @equipment.length == 0 %>
          <h3>No surfboards in this location yet :-(</h3>
        <% elsif @equipment.length == 1 %>
          <h3>Check this amazing board we found for you:</h3>

        <% else %>
          <h3>Check the <%= @equipment.length %> surfboards in <%= params[:location] %> we found for you:</h3>
        <% end %>
        <table class="table">
          <% @equipment.each do |equipment| %>
          <tr>
            <td><%= link_to equipment_path(equipment) do %>
              <%= image_tag(equipment_image_path(equipment), width: 150) %> </td>
              <% end %>
              <td><h4> <%= equipment.title %> </h4><p> <%= equipment.category %></p><p><%= equipment.price %> € / day</p><span> <%= equipment.street %> <%= equipment.building_number %>,  <%= equipment.city %></span>
              </td>
            </tr>
            <% end %>
          </table>
        </div>


      <div class="col-md-6 content-right">
        <div id="map" style="width: 100%; height: calc(100vh - 70px)">
        <%= render "shared/maps", location: @hash %></div>
     </div>
  </div>
</div>




