<% content_for(:title_tag) do %>
<%= @equipment.title %>
<% end %>

<div class="content-left col-md-6 col-xs-10 col-md-offset-2">

  <h2><%= @equipment.title %></h2>
  <br>
  <br>


<table>
<tr>
<%= cl_image_tag(equipment_image_path(@equipment)) %>
<br>
<br>
</tr>

<tr>
    <td><h4>Category:&nbsp;</h4></td>
        <td><h5><%= @equipment.category %></h5></td>
</tr>
<tr>
  <td><h4>Price/day:&nbsp;</h4></td>
        <td><h5><%= @equipment.price %></h5></td>
</tr>
<tr>

  <td valign="top"><h4>Location:&nbsp;</h4></td>
        <td><h5><%= @equipment.street%> <%= @equipment.building_number %>,<br> <%= @equipment.postal_code  %>&nbsp;<%=@equipment.city %>, <br><%= @equipment.country  %>
        </h5></td>
</tr>
</table>
</div>



<div class="content-right col-md-4 hidden-sm">

</div>
