<% content_for(:title_tag) do %>
Surfboard - <%= @equipment.title %>
<% end %>

<div class="container">
  <h3><%= @equipment.title %></h3>
</div>

<div class="container">
  <div class="content-left col-md-8 col-xs-12">

    <table>
    <tr>
      <td>cl_image_tag(equipment_image_path(@equipment))</td>
    </tr>
      <tr>
        <td><h4>Category:</h4></td>
        <td><h5><%= @equipment.category %></h5></td>
      </tr>
      <tr>
        <td><h4>Price</h4></td>
        <td><h5><%= @equipment.price  %></h5></td>
      </tr>
      <tr>
      <td><h4>Location</h4></td>
      <td><span><%= @equipment.street  @equipment.building_number %></span><br><span><%= @equipment.city  %></span><br><span><%= @equipment.country %></span>
      </td>
    </tr>
  </table>
</div>
<div class="content-right col-md-4 hidden-sm">

</div>
</div>




