<div class="container">
  <% content_for(:title_tag) do %>
  <%= @equipment.title %>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <h2><%= @equipment.title %></h2>
        <br>

        <table align="center">

          <tr>
            <%= cl_image_tag(equipment_image_path(@equipment)) %>
            <br>
          </tr>

          <tr>
            <td style="text-align:left"><h5>Category:&nbsp;</h5></td>
            <td><h5><%= @equipment.category %></h5></td>
          </tr>

          <tr>
            <td style="text-align:left"><h5>Price:&nbsp;</h5></td>
            <td><h5><%= @equipment.price%> € / day</h5></td>
          </tr>
          <tr>

            <td valign="top"><h5>Location:&nbsp;</h5></td>
            <td><h5><%= @equipment.street %> <%= @equipment.building_number %><br> <%= @equipment.postal_code  %>&nbsp;<%=@equipment.city %> <br><%= @equipment.country  %></h5></td>
          </tr>

        </table>

        <div class="row">
          <div class="text-center">
            <%= link_to 'Edit', edit_user_equipment_path(@equipment), class: "btn btn-primary" %>
            <%= link_to "Delete", user_equipment_path(@equipment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
            <%= link_to 'Back', user_path(@equipment), class: "btn btn-primary" %>
            <%= link_to 'Book', user_path(@equipment), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div id="map" style="width: 100%; height: 600px">

        <%= render "shared/maps", location: @hash %></div>

      </div>
    </div>

  </div>



