<% @bookings.each do |booking|%>

<h1>Seller_id: <%= booking.seller_id %></h1>
<h1>Buyer_id: <%= booking.buyer_id %></h1>
<h1>Equipment_id: <%= booking.equipment_id %></h1>
<h1>Start_date: <%= booking.start_date %></h1>
<h1>End_Date: <%= booking.end_date %></h1>

<% end %>

