<% content_for(:title_tag) do %>
My Profile
<% end %>

<div class="text-center">
  <h2>Welcome back <%= current_user.first_name %>!</h2>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="text-center">

        <table align="center">

          <tr>
            <%= cl_image_tag(user_image_path(current_user)) %>
            <br>
          </tr>

          <tr>
            <td style="text-align:left"><h5>Name:&nbsp;</h5></td>
            <td><h5><%= current_user.first_name %> <%= current_user.last_name %></h5></td>
          </tr>

           <tr>
            <td style="text-align:left"><h5>Email:&nbsp;</h5></td>
            <td><h5><%= current_user.email %></h5></td>
          </tr>

        </table>

        <br>
        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-primary" %>
        <%= link_to "New Surfboard", new_user_equipment_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-md-6">

      <h4 class="text-center">Your Surfboards</h4 class="text-center">

      <table align="left">
        <% current_user.equipment.each do |equipment| %>
        <tr>
          <td class="table-field"><%= link_to equipment_path(equipment) do %>
          <%= cl_image_tag(equipment_image_path(equipment)) %>
          </td>
          <td><h3> <%= equipment.title %></h3>
          <p><%= equipment.category %></p>
          <p><%= equipment.price %>€ / day</p>
          <% end %>
          </td>
        <% end %>
      </table>


      <h4 class="text-center">Your Upcoming bookings</h4 class="text-center">


      <% if current_user.seller_bookings.empty?  %>
        <p class="text-center">You have no upcoming bookins</p>
      <% else  %>
        <table align="left">
          <% current_user.seller_bookings.each do |booking| %>

            <%= booking.start_date %>
          <% end %>
        </table>
      <% end %>






    </div>

  </div>
</div>
