<div class="navbar-wagon">
 <%= link_to "/" , class: "navbar-wagon-brand" do %>
    <%= image_tag "wave.png" %>
    <% end %>

  <!-- Right Navigation -->
    <form action="" class="navbar-wagon-search form-inline">
      <input type="text" class="navbar-wagon-search-input location-search" placeholder="Anywhere">
      <input type="text" class="navbar-wagon-search-input time-search" placeholder="Anytime">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>

    <!-- Search form -->
    </form>



  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Find a board</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Rent out</a>

    <!-- Profile picture and dropdown -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= link_to image_tag("profile_avatar", class:"avatar dropdown-toggle"), "#", data: { toggle: "dropdown" } %>


        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><%= link_to("Profile", user_path(current_user)) %></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </div>
    </div>
    <% end %>

    <!-- Button (call-to-action) -->
    <% if !user_signed_in? %>
      <%= link_to('Sign In', new_user_session_path, class: "navbar-wagon-item navbar-wagon-signin-button btn") %>
      <%= link_to('Sign Up', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button btn") %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
